@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Cinzel:wght@500&family=Dongle:wght@300&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Nanum+Gothic&family=Press+Start+2P&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF7ED;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #FFF7ED;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 38px;
    text-align: center;
    padding-top: 23px;
    top: -20%;
    transform: translateY(-20%);
}



.left-button,
.right-button {
    display: inline-block;
    cursor: pointer;

}

.left-button {
    margin-right: 45px;
}

.right-button {
    margin-left: 45px;
}

.left-button img,
.right-button img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;




}




.date {
    color: #3A3A3A;
    text-align: center;
    font-family: 'IBM Plex Sans KR';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 87.5% */
    flex: 0.5;
}

.name {
    text-align: center;
    transform: translateY(-100%);
}

p {
    color: #3A3A3A;
    text-align: center;
    font-family: 'IBM Plex Sans KR';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
}

input[type="file"] {
    display: none;
}

.content {
    width: 335px;
    height: 116px;
    flex-shrink: 0;
}

.content .file {
    justify-content: center;
    width: 335px;
    height: 116px;
    background-color: rgba(154, 209, 245, 0.46);
}

input[type="file"] {
    display: none;
}

.file-input {
    display: none;
}


.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9AD1F5;
    width: 335px;
    height: 116px;

    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}


.file-label::before {
    content: "image";
}

.file-input:checked+.file-label::before {
    content: attr(data-file-name);
}

.submit {
    display: none;
}

.character {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    top: 100%;
    transform: translateY(-100%);
}

.container-1 {
    position: relative;
    display: flex;
    align-items: center;
}

.textarea {

    width: 254px;
    height: 399px;
    background-color: #FFF7ED;
    border: none;
    transform: translateY(-20%);
    justify-content: center;
    resize: vertical;
    padding: 10px;
    overflow: hidden;
    font-size: 15px;

}


input[id="menuicon"] {
    display: none;
}

input[id="menuicon"]+label {
    display: block;
    width: 50px;
    height: 22px;
    position: relative;
    top: -65%;
    left: 15px;
    cursor: pointer;
}

input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 60%;
    height: 5px;
    border-radius: 30px;
    background-color: #3A3A3A;
    transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}



/* 팝업 css */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    display: none;
  }
  
  .popup-content p {
    font-size: 16px;
  }


  h3{
    text-align: center;
  }
  h5{
    text-align: center;

  }
  .buttons{
    display: flex;
    justify-content: center;
  }
  .button-text h5{
    margin: -5% 0;
  }
  
  .buttons button{
    margin: 7%;
    margin-top: 10%;
    border: none;
    background-color: #fff;
    color: #007AFF;
    font-size: 17px;
    font-weight: 600;
    font-size: normal;
  }

  .buttons2{
    display: flex;
    justify-content: center;
  }
  .button-text2 h5{
    margin: -5% 0;
  }
  .buttons2 button{
    margin: 7%;
    margin-top: 10%;
    border: none;
    background-color: #fff;
    color: #007AFF;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
  }
@media screen and (max-width: 768px) {

    .textarea {
        height: 100px;
    }
}

@media screen and (max-width: 480px) {
  
    .container {
        max-width: 90%;
    }

    .textarea {
        height: 80px;
    }

    .file-label {
        margin-bottom: 5px; 
    }
}