<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARABOZA, 나의 하루 감정 기록</title>
    <link rel="stylesheet" href="{% static 'css/mainStyle.css' %}" type="text/css">
    <script src="{% static 'js/mainScript.js' %}" defer type="text/javascript"></script>
    {% block content %}
</head>
<body>
    <div id="wrap">
        <header>
            {% for user in userinfo %}
            <div class="title">
                "
                <span class="nickname">{{user.username}}</span>
                " 의 기록 모음
            </div>
            {% endfor %}
        </header>
        <main>
            <section class="activeBtn">
                <a href="#">
                    <img src="{% static 'media/cart-solid.png' %}">
                </a>
                <a href="{% url 'diary:diary_post' %}">
                    <img src="{% static 'media/new_btn.png' %}">
                </a>
            </section>
            <section class="mainImg">
                <img src="{% static 'media/statusCloud.png' %}" class="cloud">
                <img src="{% static 'media/ground.png' %}" class="ground">
                <div class="character">
                    <img src="{% static 'media/Ideathon_character.png' %}">
                    <div class="chat">
                        <img src="{% static 'media/chatBubble1.png' %}" class="bubble">
                        <img src="{% static 'media/chatBubble2.png' %}" class="bubble">
                    </div>
                </div>
            </section>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="#"><img src="{% static 'media/home.png' %}"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'media/calendar.png' %}"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'media/account.png' %}"></a>
                    </li>
                </ul>
            </nav>

        </main>
    </div>
    {% endblock %}
</body>
</html>
