<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARABOZA, 나의 하루 감정 기록</title>
    <link rel="stylesheet" href="{% static 'css/startStyle.css' %}" type="text/css">
    <script src="{% static 'js/startScript.js' %}" defer type="text/javascript"></script>
</head>
<body>
    <div id="wrap">
        <div id="opening">
            <div class="cloudBox">
                <img src="{% static 'media/cloud1.png' %}" class="cloud">
                <img src="{% static 'media/cloud2.png' %}" class="cloud">
                <img src="{% static 'media/cloud3.png' %}" class="cloud">
                <img src="{% static 'media/cloud4.png' %}" class="cloud">
                <img src="{% static 'media/cloud5.png' %}" class="cloud">
                <img src="{% static 'media/cloud1.png' %}" class="cloud">
            </div>
        </div>
        <div id="main">
            <div class="logo">
                <img src="{% static 'media/Ideathon_Logo.png' %}">
            </div>
        </div>
    </div>
</body>
</html>
